.directory-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .directory-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .directory-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .directory-item:hover {
    background-color: #f1f1f1;
  }
  
  .file-list {
    list-style-type: none;
    padding-left: 20px; /* Indentação para arquivos */
    margin: 5px 0 0 0; /* Margem para separar arquivos do diretório */
  }
  
  .file-item {
    display: flex;
    align-items: center;
    padding: 3px 0;
  }

  .directory-item .fa-folder {
    color: rgb(255, 153, 0);
  }
  
  .message {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #333;
    font-size: 14px;
    text-align: center;
  }
  